<html>
<head>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
    body {
      width: 100%;
    }
    .product-info, .varukorg {
      border-radius: 4px;
      background-color: rgba(55,100,255, 0.3);
      margin: 1em;
      padding: 1em;
      width: 66%;
    }
    .varukorg {
      border: 10px solid #123;
    }
    .productList {
      border: 2px dashed red;
      padding: 1em 2em;
    }
  </style>
</head>
<body>
  <div id="output">
    <product-list>
      <product-info
        v-for='product in products'
        v-bind:key='product.id'
        v-bind:product='product'
        v-on:add-to-cart='shopCart.push(product)'>
      </product-info>
    </product-list>
    <shop-cart>
      <product-info
        v-for='product, index in shopCart'
        v-bind:key='product.id'
        v-bind:product='product'
        v-on:remove-from-cart="shopCart.splice(index,1)" >
      </product-info>
    </shop-cart>

  </div>
</body>
</html>
<script>

  Vue.component('product-info',{
    props: ['product'],
    template: `
      <div class='product-info'>
        <h1>
          {{ product.name }}
        </h1>
        <p><span>
          {{ product.consumerPrice }}
        </span></p>
        <button
          v-on:click="$emit('add-to-cart')">
          Add to cart
        </button>
        <button
          v-on:click="$emit('remove-from-cart')">
          Remove from cart
        </button>

        <p><span>
          {{ product.description }}
        </span></p>
      </div>
    `
  });

  Vue.component('shop-cart', {
    template: `
      <div class = "varukorg">
        <slot>
        </slot>
      </div>
    `
  })

  Vue.component('product-list', {
    template: `
      <div class = "productList">
        <slot>
        </slot>
      </div>
    `
  })

  const app = new Vue({
    el: '#output',
    data: {
      products: null,
      shopCart: []
    },
    mounted () {
       axios
         .get('https://www.hulabeck.se/html/temp/products.json')
         .then(response => (this.products = response.data.products))
    }
});
</script>
